body{
    background-image: url(/img/gasstation.jpg);
}
#title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(207, 207, 207);
    text-align: center;
}
#eu{
    margin-top: 10cm;
    background-color: rgb(20, 11, 54);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-radius: 3ch;
     margin: 10px auto;
    }
#texto{
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        text-align: justify;
        font-size: 15px;
}
#button {
    border-color: black;
    background-color: rgb(38, 13, 61);
    border-radius:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 2cm;
    width: 2.6cm;
    display: flex;
    text-align: center;
    align-items: flex-end;
    border-radius: 3ch;
}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 1.5cm;
    background: #250155;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }
   nav{
    top: 50px;
    right: 0;
 }
 .navigation_header a{
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
 }
 .navigation_header a:hover{
    color: var(--color-white);
 }
 .active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
 }