body {
    background-image: url(/img/gasstation.jpg);
 }
 #nome {
    text-align: center;
    font-style:normal;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255); 
 }
 #eu {
 background-color: rgb(17, 1, 78);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 border-radius: 3ch;
 box-sizing: 2cm;
 height: 15cm;
 width: 8cm;
 margin: 10px auto;

}

 #botao {
    border-color: black;
    border-radius:0,8cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 1.8cm;
    width: 1.8cm;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3ch;
 }
 #texto{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 header {
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
   height: 1.5cm;
   background: #250155;
   display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   width: 100%;
   top: 0;
   color: #ffffff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  nav{
   top: 50px;
   right: 0;
}
.navigation_header a{
   text-decoration: none;
   color: var(--color-purple);
   transition: 1s;
   font-weight: bold;
}
.navigation_header a:hover{
   color: var(--color-white);
}
.active{
   background: var(--color-dark3);
   padding: 10px;
   border-radius: 10px;
}